.search-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 0;
}

.search-bar-left {
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  color: #252525;
}
.search-bar-right {
  width: 20rem;
  display: flex;
  gap: 1rem;
  padding: 1rem 1.5rem;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #898989;
}
.search-bar-right-input-box {
  outline: none;
  border: none;
  width: 16rem;
}
.search-bar-right-search-icon {
  top: 1rem;
  right: 1.5rem;
}
