* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  font-size: 16px;
}
@media (max-width: 568px) {
  :root {
    font-size: 10px;
  }
}
.App {
  font-family: "Quicksand";
}
.container {
  padding: 0 7.5rem;
}
